.detailedPage {
  margin: 1rem;
  background-color: rgb(232, 250, 235);
  border-radius: 10px;
  padding: 1rem;
}

.detailedinfo {
  background-color: rgb(213, 250, 218);
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem;
}
.detailedImg {
  border-radius: 10px;
}

.detailedLicense {
  font-size: xx-small;
  margin-top: -30px;
  margin-left: 15px;
  color: azure;
}
