body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
}

.background {
  background-color: rgb(222, 248, 239);
}

.ownbutton {
  border-radius: 3px;
}
.card {
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
}

.headspace {
  margin-top: 1rem;
}
/* .show-modal {
}

.close-modal {
} */

.hidden {
  display: none;
}

.newmodal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  border: 1px solid grey;
  z-index: 10;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.modal1 {
  background-color: white;
  position: absolute;
  left: 0px;
  width: 100%;
  border: 1px solid grey;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: relative;
  right: -100px;
  top: -20px;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
