.credits {
  font-size: smaller;
  border-top: 1px solid lightgrey;
  background-color: rgb(240, 240, 240);
  padding: 2em;
}
.navigation {
  font-size: larger;
  border-bottom: 1px solid lightgrey;
  background-color: rgb(240, 240, 240);
  padding: 2em;
}
.navtab {
  padding: 2em;
}
.cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
}
.card {
  background-color: rgb(237, 250, 225);
  border-radius: 10px;
}
.cardimage {
}
.cardbody {
  padding: 1rem;
}
.cardtitle {
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.license {
  font-size: xx-small;
  margin-top: -20px;
  margin-left: 3px;
  color: azure;
}
.headspace {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.searchbar {
  margin: 1rem;
}

.onlylogin {
  cursor: not-allowed;
  color: grey;
  opacity: 0.3;
}

.chatmessage {
  border: solid grey 1px;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
}

.yourmail {
  font-style: italic;
  color: rgb(30, 71, 57);
}
