h3 {
    font-size: 15px;
    color: #8F773C;
    text-align: left;
    margin-left: 10px;
    text-shadow: 2px 2px 5px #DBC388;
}

.flex-form-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-between;
      }

.box-inside-form {    
    align-self: auto;
    text-align: left;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 15px;
    background-color: rgb(216, 228, 243, 0.8);
    overflow: scroll;
}

.input-area {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /*resize: horizontal;*/
    /*box-sizing: border-box;*/
}

.legend-class { 
    margin: 50px;
}

.button-form {
    width: 100px;
    height: 50px;
    background-color: rgb(20, 7, 24);
    color: purple;
    border-radius: 5px;
    text-shadow: 2px 2px 20px rgb(255, 255, 224);
    font-weight: bold;
    box-sizing: border-box;
   
}

/*IDs */
#button-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
   /* border: solid 1px red;*/
}

