section {
  padding: 2rem;
}

h1 {
  padding: 2rem;
}
/* 
card {
  background-color: aquamarine;
  border: 1px, solid, black;
}

.light {
  background-color: red;
}
.lightBlue {
  background-color: #d0e2f0;
}
 */
