section {
  padding: 2rem;
}

h1 {
  padding: 2rem;
}
.background {
  background-color: rgb(235, 235, 250);
}

#beschaeftigte {
  width: 10rem;
}

#less1 {
  margin-left: 0em;
  margin-right: 0.35em;
}
#less5 {
  margin-left: 2em;
  margin-right: 0.35em;
}
#less50 {
  margin-left: 2em;
  margin-right: 0.35em;
}
#more50 {
  margin-left: 2em;
  margin-right: 0.35em;
}

/* 
card {
  background-color: aquamarine;
  border: 1px, solid, black;
}

.light {
  background-color: red;
}
.lightBlue {
  background-color: #d0e2f0;
}
 */
